.LoginForm form {
    margin: 1rem;
    max-width: 25%;
    min-width: inherit;
}

.LoginFields * {
    margin: 0.25rem;
}

.LoginFields input[type='text'], .LoginFields input[type='password'] {
    padding: 0.75rem;
    outline: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5em;
    border-color: #0056b3;
    background-color: #b4babb;
}

.LoginFields input[type='text']:focus, .LoginFields input[type='password']:focus {
    border-color: #007bff;
    box-shadow: inset 0px 0px 8px 1px #007bff;
}

.LoginFields input[type='submit'] {
    margin-top: 1rem;
    padding: 0.50rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25em;
    border-color: #0056b3;
    background-color: #b4babb;
}

.LoginFields input[type='submit']:hover {
    border-color: #007bff;
    box-shadow: inset 0px 0px 8px 1px #007bff;
}

.LoginFields input[type='submit']:active {
    background-color: #94999a;
    color: #007bff;
}

h5[class*='LoginFail'] {
    color: red !important;
    background-color: rgba(255, 0, 0, 0.09) !important;
}

.HideLoginFail {
    display: none;
}

.DisplayLoginFail {
    display: inherit;
}
