.blog-nb-container {
    border-bottom: solid 2px #191c1f;
}

.blog-nav-bar {
    background-color: rgba(25, 38, 51, 0.75) !important;
}

.blog-nav-bar a.navbar-brand {
    font-family: "Nueva Std";
    font-size: 20pt;
    font-variant: small-caps;
    font-weight: bolder;
}

.blog-blurb {
    margin: 0;
    padding-right: 1rem;
    text-align: right;
    background-color: #373845 !important;
    color: white !important;
    font-style: italic;
    font-weight: 200;
}
